INSERT INTO
  {{ table }} (o,d,t,count,median_speed,mean_speed,sd_speed)
  (
    SELECT
        combinations.o
      , combinations.d
      , combinations.t
      , 0 AS count
      , NULL AS median_speed
      , NULL AS mean_speed
      , NULL AS sd_speed
    FROM
    (
      SELECT
          y.o
        , y.d
        , x.t
      FROM
        (
          SELECT
            t::timestamp
          FROM
            generate_series(
                timestamp (SELECT MIN(t) FROM {{ table }})
              , timestamp (SELECT MAX(t) FROM {{ table }})
              , interval  {{ frequency }})
            t(x)
        ) AS x
      CROSS JOIN
        (
          SELECT DISTINCT
            o,d
          FROM
            {{ table }}
        ) AS y
    ) AS combinations
-- ANTI JOIN (select ((o,d),t) combinations that do not show up in the data)
    WHERE NOT EXISTS
      (
        SELECT
          o,d,t
        FROM
          {{ table }} AS data
        WHERE
          combinations.o = data.o
          AND combinations.d = data.d
          AND combinations.t = data.t
      )
  )
;
